name: Self-Hosted Runner Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Navigate to git Directory
        run: cd /home/kowalski/hugo/data

      - name: Sync with Git Changes
        run: git pull

      - name: Navigate to parent Directory
        run: cd ..
          
      - name: Reload Docker Compose Stack
        run: docker compose up -d --force-recreate
